*{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
}

#title{
    display: inline-block;
    text-align: center;
    font-size: 2vw;
    margin-left: 30%;
}
 
.nav {
    list-style-type: none;
    top:0;
    left:0;
    padding: 0;
    overflow: hidden;
    background-color: #FFDEDE;
}

li.dropdown {
    display: inline-block;
}

li a, .dropbtn {
    display: inline-block;
    color: rgb(11, 10, 10);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(248, 169, 181);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFDEDE;
    min-width: 80px;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

#navbtn{
    margin:10px;
    padding:0;
    list-style-type: none;
    overflow: hidden;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main{
    text-align: left;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 25px;
    display: block; /*block display indicates that this element takes up the whole space*/
}

.dropbtn {
    display: inline-block;
    text-align: center;
    padding: 5px 5px;
}

li.dropdown {
    display: inline-block;
}

.image{
    display:inline-flex;
    vertical-align: top;
    float: right;
    text-align: right;
    height: 17vw;
    width: auto;
}

.caption {
    display:inline-block;
    text-align: justify;
}

.footer{
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #332421;
    position: fixed;
    display: block;
    color: white;
    padding: 1.5vw;
}